* {
  padding: 0;
  margin: 0;
}

:root {
  --primary: #ffffff;
  --border: #e8e8e8;
  --text: #222222;
  --background: #f8f8f8;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  margin: 0;
  padding: 0;
 /* max-width:1440px;
  margin: auto;*/
  
}
p,
a {
  color: var(--text);
}
.header {
  padding: 60px 90px 0 90px;
  display: flex;
  align-items: flex-end;
}

.logo {
  width: 100%;
  text-decoration: underline;
  font-size: 1.1vw;
  text-underline-offset: 2px;
}

.services {
  padding: 80px 90px 0 90px;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1vw;
  width: 100%;
}

.top-sub {
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 120%;
}

.top-title {
  font-weight: 500;
  font-size: 5vw;
  letter-spacing: -2px;
  line-height: 120%;
}

.top-text {
  font-weight: 400;
  font-size: 1vw;
  line-height: 160%;
}

.bottom {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-column-gap: 3.3vw;
  grid-row-gap: 3.3vw;
}

.card {
  background-color: var(--primary);
  border: 1px solid #e8e8e8;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 45px;
  text-align: left;
}

.card-title {
  font-weight: 500;
  font-size: 1.9vw;
  line-height: 120%;
  letter-spacing: -2px;
}

.card-text {
  font-weight: 400;
  font-size: 1vw;
  line-height: 160%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 90px 90px 0 90px;
  gap: 40px;
}

.left {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.con-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-title {
  font-weight: 500;
  font-size: 3.3vw;
  line-height: 120%;
}

.left-text {
  font-weight: 400;
  font-size: 1vw;
  line-height: 160%;
}

.right {
  width: 68%;
}

.right img {
  width: 100%;
  border-radius: 24px;
}

.left-btn {
  color: var(--text);
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.footer {
  padding: 80px 90px;
  display: flex;
  gap: 10px;
}

.ending {
  font-size: 1vw;
}

.footer img {
  height: 50%;
}


@media screen and (min-width: 2560px) {
  .header {
    padding: 1.5vw 2.5vw 0 2.5vw;
  }

  .logo {
    font-size: 1vw;
  }

  .services {
    padding: 2vw 2.5vw 0 2.5vw;
  }

  .top-title {
    font-size: 5vw;
  }

  .top-text {
    font-size: 1.5vw;
  }

  .bottom {
    grid-column-gap: 1.65vw;
    grid-row-gap: 1.65vw;
  }

  .card {
    border-radius: 1.95vw;
    padding: 1.95vw;
  }

  .card-title {
    font-size: 1.9vw;
  }

  .card-text {
    font-size: 1vw;
  }

  .flex-container {
    padding: 5vw 2.5vw 0 2.5vw;
    gap: 1vw;
  }

  .left-title {
    font-size: 3.3vw;
  }

  .left-text {
    font-size: 1vw;
  }

  .right img {
    border-radius: 1.95vw;
  }

  .left-btn {
    font-size: 1.2vw;
  }

  .footer {
    padding: 2vw 2.5vw;
    gap: 0.5vw;
  }

  .ending {
    font-size: 0.9vw;
  }
  .footer img {
    height: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    padding: 30px 20px 0 20px;
  }

  .services {
    padding: 40px 20px 0 20px;
  }

  .top-title {
    font-size: 3rem;
  }

  .top-text {
    font-size: 0.8rem;
  }

  .bottom {
    grid-template-columns: auto;
    grid-row: auto;
    grid-column-gap: 0;
    grid-row-gap: 30px;
  }

  .card {
    padding: 30px;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 0.8em;
  }

  .flex-container {
    padding: 40px 20px 0 20px;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }
  .left-btn {
    margin-top: 20px;
  }
  .right {
    width: 100%;
    margin-top: 20px;
  }

  .right img {
    border-radius: 12px;
  }

  .footer {
    padding: 40px 20px;
    display: flex;
    align-items: center;
  }
  .test img {
    display: flex;
    align-items: flex-start;
  }
  .ending {
    font-size: 0.8rem;
  }

  .footer img {
    height: 10px;
  }
}

/* @media screen and (min-width: 2000px) {
  body {
    max-width: 100%;
    margin: 0;
  }

  .header {
    padding: 4vw 5%;
  }

  .services {
    padding: 5vw 5%;
  }
  .top-sub {
    font-size: 1vw;
  }
  .top-title {
    font-size: 4vw;
  }

  .top-text {
    font-size: 1.2vw;
  }

  .bottom {
    grid-column-gap: 5%;
    grid-row-gap: 5%;
  }

  .card {
    padding: 5%;
  }

  .card-title {
    font-size: 2.2vw;
  }

  .card-text {
    font-size: 1.2vw;
  }

  .flex-container {
    padding: 5%;
  }

  .left {
    width: 30%;
  }
  .left-title {
    font-size: 4vw;
  }
  .right {
    width: 70%;
  }

  .right img {
    width: 100%;
    border-radius: 12px;
  }

  .left-btn {
    font-size: 1.5vw;
  }

  .footer {
    padding: 5vw 5%;
  }

  .ending {
    font-size: 1.5vw;
  }

  .footer img {
    max-height: 10vw;
  }
} */
